<!-- Навигационное меню -->
<nav class="nav-menu">
    <div class="nav-container">
        <ul class="nav-list">
            <li><a href="{% url 'meddiag:index' %}" class="active">Главная</a></li>
            <li><a href="/about">О компании</a></li>
            <li><a href="{% url 'meddiag:services_list' %}">Услуги</a></li>
            <li><a href="{% url 'meddiag:doctors_list' %}">Врачи</a></li>
            <li><a href="/contacts">Контакты</a></li>

            <!-- Элементы для авторизованных пользователей -->
            {% if user.is_authenticated %}
                <li class="auth-required" style="display: none;">
                    <a href="/personal">Личный кабинет</a>
                </li>
            {% endif %}
            {% if user.is_staff and user.is_superuser %}
                <li class="auth-required admin-link" style="display: none;">
                    <a href="/admin" style="background: #e67e22;">Админка</a>
                </li>
            {% endif %}
            {% if user.is_authenticated %}
                <li class="auth-required user-actions" style="display: none;">
                    <a href="{% url 'users:logout' %}" class="btn-logout">Выход</a>
                </li>
            {% else %}
                <li class="auth-required user-actions" style="display: none;">
                    <a href="{% url 'users:login' %}" class="btn-logout">Вход</a>
                </li>
            {% endif %}

            <!-- Вход и регистрация для гостей -->
            <li class="guest-only user-actions">
                <a href="/login">Вход</a>
                <a href="/register">Регистрация</a>
            </li>
        </ul>
    </div>
</nav>